Flask==2.2.2
Flask-SQLAlchemy==3.0.2
Flask-Login==0.6.2
Flask-Bcrypt==1.0.1
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.3
Werkzeug==2.2.2
gunicorn==21.2.0
psycopg2-binary==2.9.9
python-dotenv==1.0.0
scrapeops-python-requests==0.4.7
beautifulsoup4==4.11.1
pandas==1.5.2
numpy==1.23.5
APScheduler==3.10.4
SQLAlchemy==1.4.46
